@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
}
body {
  background-color: #FB6B6B;
  font-family: 'Recursive';
}

/* Tela1 */

.inicio {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.inicio img {
  width: 136px;
  height: 161px;
}
.inicio h1 {
  font-family: 'Righteous';
  font-size: 36px;
  line-height: 45px;
  letter-spacing: -0.012em;
  color: #FFFFFF;
  margin: 15px 0 30px 0;
}
.inicio div {
  width: 246px;
  height: 54px;
  background: #FFFFFF;
  border: 1px solid #D70900;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  font-size: 18px;
  line-height: 22px;
  color: #D70900;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Tela2 */

.tela2 {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}
.logo img {
  width: 52px;
  height: 60px;
  margin: 10px;
}
.logo h2 {
  font-family: 'Righteous';
  font-size: 36px;
  line-height: 45px;
  letter-spacing: -0.012em;
  color: #FFFFFF;
}

/* Corpo */

.corpo > div {
  width: 300px;
  min-height: 65px;
  background: #FFFFFF;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  position: relative;
}
.corpo > div > div {
  margin: 10px;
}
.corpo > div > ion-icon {
  margin: 10px;
  font-size: 25px;
  color: #333333;
  cursor: pointer;
}

/* Card Revelado */

.corpo > .revelado {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  align-items: initial;
  flex-direction: column;
  width: 299px;
  min-height: 131px;
  background: #FFFFD5;
}
.revelado > img {
  position: absolute;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
}

/* Card Revelado */

.botoes {
  display: flex;
  justify-content: center;
}
.bt {
  width: 85px;
  height: 35px;
  border-radius: 5px;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
  margin: 5px;
  cursor: pointer;
}
.nao {
  background-color: #FF3030;
}
.quase {
  background-color: #FF922E;
}
.sim {
  background-color: #2FBE34;
}

/* Riscado */

.riscado {
  text-decoration: line-through;
}
.vermelho {
  color: #FF3030;
}
.laranja {
  color: #FF922E;
}
.verde {
  color: #2FBE34;
}

/* Base */

.base {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: #FFFFFF;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}

