@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

.inicio {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.inicio img {
  width: 136px;
  height: 161px;
}
.inicio h1 {
  font-family: 'Righteous';
  font-size: 36px;
  line-height: 45px;
  letter-spacing: -0.012em;
  color: #FFFFFF;
  margin: 15px 0 30px 0;
}
.inicio .bt {
  width: 246px;
  height: 54px;
  background: #FFFFFF;
  border: 1px solid #D70900;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  font-size: 18px;
  line-height: 22px;
  color: #D70900;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.inicio .btDesabilitado {
  width: 246px;
  height: 54px;
  background: #E8E8E8;
  border-radius: 5px;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #C0C0C0;
  cursor: default;
}
.inicio select, .inicio input  {
  width: 240px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 5px;
  color: #FB6B6B;
  padding-left: 10px;
  margin-bottom: 5px;
}
.inicio option {
  font-family: 'Roboto';
  font-size: 18px;
  margin: 10px;
  color: #FB6B6B;
}
.inicio option:first-child {
  color: #ADADAD;
}
.inicio input::placeholder {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 16px;
  color: #ADADAD;
}
.inicio div {
  margin-bottom: 15px;
}
.inicio h4 {
  margin-left: 10px;
  color: #8f1f1f;
}
