.inicio {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.inicio img {
  width: 136px;
  height: 161px;
}
.inicio h1 {
  font-family: 'Righteous';
  font-size: 36px;
  line-height: 45px;
  letter-spacing: -0.012em;
  color: #FFFFFF;
  margin: 15px 0 30px 0;
}
.inicio div {
  width: 246px;
  height: 54px;
  background: #FFFFFF;
  border: 1px solid #D70900;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  font-size: 18px;
  line-height: 22px;
  color: #D70900;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}